@{
    ViewData["Title"] = "Calculator";
}

<style>

    .calculator {
        border: 1px solid #ccc;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
    }

    .calculator-screen {
        width: 100%;
        font-size: 3rem;
        height: 80px;
        border: none;
        background-color: #252525;
        color: #fff;
        text-align: right;
        padding-right: 20px;
        padding-left: 10px;
    }


    .calculator-keys {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        padding: 20px;
    }

    button {
        height: 60px;
        background-color: #fff;
        border-radius: 3px;
        border: 1px solid #c4c4c4;
        background-color: transparent;
        font-size: 2rem;
        color: #333;
        background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
        box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
        text-shadow: 0 1px rgba(255,255,255,.4);
    }

        button:hover {
            background-color: #eaeaea;
        }

    .operator {
        color: #337cac;
    }

    .all-clear {
        background-color: #f0595f;
        border-color: #b0353a;
        color: #fff;
    }

        .all-clear:hover {
            background-color: #f17377;
        }

    .equal-sign {
        background-color: #2e86c0;
        border-color: #337cac;
        color: #fff;
        height: 100%;
        grid-area: 2 / 4 / 6 / 5;
    }

        .equal-sign:hover {
            background-color: #4e9ed4;
        }
</style>


<script>
    var xmlhttp = new XMLHttpRequest();
    MakeReq = (serverpage, objID) => {
        let obj = document.getElementById(objID);
        xmlhttp.open("GET", serverpage);
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                obj.innerHTML = xmlhttp.responseText;
                textInput = document.getElementById(objID).innerHTML;
            }
        }
        xmlhttp.send(null);
    }
    PlusReq = (severpage, objID) => {
        let obj = document.getElementById(objID)
        xmlhttp.open("GET", severpage)
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var nub = xmlhttp.responseText
                obj.innerHTML = nub + " + ";
                s.push(nub)
                s.push("+")
                textInput = document.getElementById(objID).innerHTML;
            }
        }
        xmlhttp.send(null);
    }
    MinusReq = (severpage, objID) => {
        let obj = document.getElementById(objID)
        xmlhttp.open("GET", severpage)
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var nub = xmlhttp.responseText
                obj.innerHTML = nub + " - ";
                s.push(nub)
                s.push("-")
                textInput = document.getElementById(objID).innerHTML;
            }
        }
        xmlhttp.send(null);
    }
    MulReq = (severpage, objID) => {
        let obj = document.getElementById(objID)
        xmlhttp.open("GET", severpage)
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var nub = xmlhttp.responseText
                obj.innerHTML = nub + " * ";
                s.push(nub)
                s.push("*")
                textInput = document.getElementById(objID).innerHTML;
            }
        }
        xmlhttp.send(null);
    }
    DivReq = (severpage, objID) => {
        let obj = document.getElementById(objID)
        xmlhttp.open("GET", severpage)
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var nub = xmlhttp.responseText
                obj.innerHTML = nub + " / ";
                s.push(nub)
                s.push("/")
                textInput = document.getElementById(objID).innerHTML;
            }
        }
        xmlhttp.send(null);
    }

    var textInput = ""
    var boolVar = false;
    var calState = false;
    var dotState = false
    const opare = ['+', '-', '*', '/', '.']

    class Stack {
        constructor() {
            this.lis = []
        }
        isEmpty = () => {
            return this.lis == []
        }
        size = () => {
            return this.lis.length
        }
        peek = () => {
            if (this.isEmpty() == true) {
                return "Empty"
            }
            else {
                return this.lis[this.lis.length - 1]
            }
        }
        push = (n) => {
            this.lis.push(n)
        }
        pop = () => {
            if (this.isEmpty()) {
                return "Cant Pop"
            }
            return this.lis.pop()
        }
        printStack = () => {
            var str = "";
            for (var i = 0; i < this.items.length; i++)
                str += this.items[i] + " ";
            return str;
        }
        clearAll = () => {
            this.lis = []
        }
    }

    var s = new Stack()

    write0 = () => {
        if (textInput.length > 38) {
            alert("Maximum Value Enter!");
            boolVar = true;
            textInput = "Enter Number";
            document.getElementById("numText").innerHTML = textInput;
            return;
        }
        if (dotState == true) {
            var temp = s.pop()
            temp += "0"
            s.push(temp)
            textInput += "0"
        }
        else if (boolVar == true) {
            textInput = "0"
            s.push(0)
            boolVar = false
        }
        else {
            textInput += "0"
            s.push(1)
        }
        document.getElementById("numText").innerHTML = textInput;
    }


    write1 = () => {
        if (textInput.length > 38) {
            alert("Maximum Value Enter!");
            boolVar = true;
            textInput = "Enter Number";
            document.getElementById("numText").innerHTML = textInput;
            return;
        }
        if (dotState == true) {
            var temp = s.pop()
            temp += "1"
            s.push(temp)
            textInput += "1"
        }
        else if (boolVar == true) {
            textInput = "1"
            s.push(0)
            boolVar = false
        }
        else {
            textInput += "1"
            s.push(1)
        }
        document.getElementById("numText").innerHTML = textInput;
    }

    write2 = () => {
        if (textInput.length > 38) {
            alert("Maximum Value Enter!");
            boolVar = true;
            textInput = "Enter Number";
            document.getElementById("numText").innerHTML = textInput;
            return;
        }
        if (dotState == true) {
            var temp = s.pop()
            temp += "2"
            s.push(temp)
            textInput += "2"
        }
        else if (boolVar == true) {
            textInput = "2"
            s.push(0)
            boolVar = false
        }
        else {
            textInput += "2"
            s.push(1)
        }
        document.getElementById("numText").innerHTML = textInput;
    }

    write3 = () => {
        if (textInput.length > 38) {
            alert("Maximum Value Enter!");
            boolVar = true;
            textInput = "Enter Number";
            document.getElementById("numText").innerHTML = textInput;
            return;
        }
        if (dotState == true) {
            var temp = s.pop()
            temp += "3"
            s.push(temp)
            textInput += "3"
        }
        else if (boolVar == true) {
            textInput = "3"
            s.push(0)
            boolVar = false
        }
        else {
            console.log(calState)
            textInput += "3"
            s.push(1)
        }
        document.getElementById("numText").innerHTML = textInput;
    }

    write4 = () => {
        if (textInput.length > 38) {
            alert("Maximum Value Enter!");
            boolVar = true;
            textInput = "Enter Number";
            document.getElementById("numText").innerHTML = textInput;
            return;
        }
        if (dotState == true) {
            var temp = s.pop()
            temp += "4"
            s.push(temp)
            textInput += "4"
        }
        else if (boolVar == true) {
            textInput = "4"
            s.push(0)
            boolVar = false
        }
        else {
            textInput += "4"
            s.push(1)
        }
        document.getElementById("numText").innerHTML = textInput;
    }

    write5 = () => {
        if (textInput.length > 38) {
            alert("Maximum Value Enter!");
            boolVar = true;
            textInput = "Enter Number";
            document.getElementById("numText").innerHTML = textInput;
            return;
        }
        if (dotState == true) {
            var temp = s.pop()
            temp += "5"
            s.push(temp)
            textInput += "5"
        }
        else if (boolVar == true) {
            textInput = "5"
            s.push(0)
            boolVar = false
        }
        else {
            textInput += "5"
            s.push(1)
        }
        document.getElementById("numText").innerHTML = textInput;
    }

    write6 = () => {
        if (textInput.length > 38) {
            alert("Maximum Value Enter!");
            boolVar = true;
            textInput = "Enter Number";
            document.getElementById("numText").innerHTML = textInput;
            return;
        }
        if (dotState == true) {
            var temp = s.pop()
            temp += "6"
            s.push(temp)
            textInput += "6"
        }
        else if (boolVar == true) {
            textInput = "6"
            s.push(0)
            boolVar = false
        }
        else {
            textInput += "6"
            s.push(1)
        }
        document.getElementById("numText").innerHTML = textInput;
    }

    write7 = () => {
        if (textInput.length > 38) {
            alert("Maximum Value Enter!");
            boolVar = true;
            textInput = "Enter Number";
            document.getElementById("numText").innerHTML = textInput;
            return;
        }
        if (dotState == true) {
            var temp = s.pop()
            temp += "7"
            s.push(temp)
            textInput += "7"
        }
        else if (boolVar == true) {
            textInput = "7"
            s.push(0)
            boolVar = false
        }
        else {
            textInput += "7"
            s.push(1)
        }
        document.getElementById("numText").innerHTML = textInput;
    }

    write8 = () => {
        if (textInput.length > 38) {
            alert("Maximum Value Enter!");
            boolVar = true;
            textInput = "Enter Number";
            document.getElementById("numText").innerHTML = textInput;
            return;
        }
        if (dotState == true) {
            var temp = s.pop()
            temp += "8"
            s.push(temp)
            textInput += "8"
        }
        else if (boolVar == true) {
            textInput = "8"
            s.push(0)
            boolVar = false
        }
        else {
            textInput += "8"
            s.push(1)
        }
        document.getElementById("numText").innerHTML = textInput;
    }

    write9 = () => {
        if (textInput.length > 38) {
            alert("Maximum Value Enter!");
            boolVar = true;
            textInput = "Enter Number";
            document.getElementById("numText").innerHTML = textInput;
            return;
        }
        if (dotState == true) {
            var temp = s.pop()
            temp += "9"
            s.push(temp)
            textInput += "9"
        }
        else if (boolVar == true) {
            textInput = "9"
            s.push(0)
            boolVar = false
        }
        else {
            textInput += "9"
            s.push(1)
        }
        document.getElementById("numText").innerHTML = textInput;
    }

    addition = () => {
        if (textInput.length > 38) {
            alert("Maximum Value Enter!");
            boolVar = true;
            textInput = "Enter Number";
            document.getElementById("numText").innerHTML = textInput;
            return;
        }
        else if (opare.includes(s.peek()) == true) {
            document.getElementById("numText").innerHTML = textInput
        }
        else if (calState == true) {
            dotState = false
            boolVar = false
            s.clearAll()
            PlusReq('/Home/Calculate/?number=' + textInput.replaceAll(" + ", " %2B "), 'numText')
        }
        else {
            dotState = false
            calState = true
            boolVar = false
            s.push("+")
            textInput += " + "
            document.getElementById("numText").innerHTML = textInput;
        }

    }

    subtract = () => {
        if (textInput.length > 38) {
            alert("Maximum Value Enter!");
            boolVar = true;
            textInput = "Enter Number";
            document.getElementById("numText").innerHTML = textInput;
            return;
        }
        else if (opare.includes(s.peek()) == true) {
            document.getElementById("numText").innerHTML = textInput
        }
        else if (calState == true) {
            dotState = false
            boolVar = false
            s.clearAll()
            MinusReq('/Home/Calculate/?number=' + textInput.replaceAll(" + ", " %2B "), 'numText')
        }
        else {
            dotState = false
            calState = true
            boolVar = false
            console.log(calState)
            s.push("-")
            textInput += " - "
            document.getElementById("numText").innerHTML = textInput;
        }

    }

    multiply = () => {
        if (textInput.length > 38) {
            alert("Maximum Value Enter!");
            boolVar = true;
            textInput = "Enter Number";
            document.getElementById("numText").innerHTML = textInput;
            return;
        }
        else if (opare.includes(s.peek()) == true) {
            document.getElementById("numText").innerHTML = textInput
        }
        else if (calState == true) {
            dotState = false
            boolVar = false
            s.clearAll()
            MulReq('/Home/Calculate/?number=' + textInput.replaceAll(" + ", " %2B "), 'numText')
        }
        else {
            dotState = false
            calState = true
            boolVar = false
            console.log(calState)
            s.push("*")
            textInput += " * "
            document.getElementById("numText").innerHTML = textInput;
        }

    }

    devide = () => {
        if (textInput.length > 38) {
            alert("Maximum Value Enter!");
            boolVar = true;
            textInput = "Enter Number";
            document.getElementById("numText").innerHTML = textInput;
            return;
        }
        else if (opare.includes(s.peek()) == true) {
            document.getElementById("numText").innerHTML = textInput
        }
        else if (calState == true) {
            dotState = false
            boolVar = false
            s.clearAll()
            DivReq('/Home/Calculate/?number=' + textInput.replaceAll(" + ", " %2B "), 'numText')
        }
        else {
            dotState = false
            calState = true
            boolVar = false
            console.log(calState)
            s.push("/")
            textInput += " / "
            document.getElementById("numText").innerHTML = textInput;
        }

    }

    dot = () => {
        if (textInput.length > 38) {
            alert("Maximum Value Enter!");
            boolVar = true;
            textInput = "Enter Number";
            document.getElementById("numText").innerHTML = textInput;
            return;
        }
        else if (opare.includes(s.peek()) == true || dotState == true) {
            document.getElementById("numText").innerHTML = textInput
        }
        else {
            dotState = true
            textInput += "."
            var temp = s.pop()
            temp += "."
            s.push(temp)
            document.getElementById("numText").innerHTML = textInput;
        }
    }
   
    allClear = () => {
        boolVar = false
        textInput = ""
        document.getElementById("numText").innerHTML = "Enter Number";
    }
    enterEqual = () => {
        var lastChar = textInput[textInput.length - 1];
        if (lastChar == " " || lastChar == ".") {
            calState = false
            alert("Error input!");
        }
        else {
            boolVar = true;
            calState = false
            MakeReq('/Home/Calculate/?number=' + textInput.replaceAll(" + ", " %2B "), 'numText'); return false;
        }
    }
</script>

<div class="calculator">

    <div class="calculator-screen">
        <p class="inputText" id="numText"></p>
        <script>
            document.getElementById("numText").innerHTML = "Enter Number";
        </script>
    </div>

    <div class="calculator-keys">

        <button type="button" class="operator" value="+" onclick="addition()">+</button>
        <button type="button" class="operator" value="-" onclick="subtract()">-</button>
        <button type="button" class="operator" value="*" onclick="multiply()">&times;</button>
        <button type="button" class="operator" value="/" onclick="devide()">&divide;</button>

        <button type="button" value="7" onclick="write7()">7</button>
        <button type="button" value="8" onclick="write8()">8</button>
        <button type="button" value="9" onclick="write9()">9</button>


        <button type="button" value="4" onclick="write4()">4</button>
        <button type="button" value="5" onclick="write5()">5</button>
        <button type="button" value="6" onclick="write6()">6</button>


        <button type="button" value="1" onclick="write1()">1</button>
        <button type="button" value="2" onclick="write2()">2</button>
        <button type="button" value="3" onclick="write3()">3</button>


        <button type="button" value="0" onclick="write0()">0</button>
        <button type="button" class="decimal" value="." onclick="dot()">.</button>
        <button type="button" class="all-clear" value="all-clear" onclick="allClear()">AC</button>

        <button type="button" class="equal-sign" value="=" onclick="enterEqual()">=</button>

    </div>
</div>